Repository JackyTea/Mock-Stocks-Collaborative, pull requests merged in 2023-11, with the labels that each got.

#28 STONK-4: Dependencies > Migrate Package Manager To PNPM
  backend/package-lock.json
  backend/pnpm-lock.yaml
  frontend/package-lock.json
  frontend/pnpm-lock.yaml
  frontend/src/components/PurchasedStockDetails/PurchasedStockDetails.jsx
  frontend/src/components/StockDetails/StockDetails.jsx
  frontend/src/components/TransactionForm/TransactionForm.jsx
Labels: frontend, backend, dependencies

#23 STONK-3: Backend > Add Linting Rules
  backend/.eslintrc.js
  backend/package.json
  backend/pnpm-lock.yaml
Labels: backend, dependencies

#22 STONK-2: Frontend > Add Linting Rules
  frontend/.eslintrc.js
  frontend/package.json
  frontend/pnpm-lock.yaml
Labels: frontend, dependencies

#45 STONK-18: Docs > Automatically Add Labels For Dependabot PRs
  .github/dependabot.yml
Labels: documentation

#53 STONK-5: Frontend > Redesign Summary Card Image
  frontend/public/card.png
Labels: frontend, design

#62 STONK-7: Frontend > Convert To Path Aliases
  frontend/src/App.jsx
  frontend/src/actions/auth.js
  frontend/src/actions/logs.js
  frontend/src/actions/purchased.js
  frontend/src/actions/stocks.js
  frontend/src/actions/transactions.js
  frontend/src/components/Auth/Auth.jsx
  frontend/src/components/Careers/Careers.jsx
  frontend/src/components/Dashboard/Account/Account.jsx
  frontend/src/components/Dashboard/General/General.jsx
  frontend/src/components/Dashboard/Insights/Insights.jsx
  frontend/src/components/Dashboard/Logs/Logs.jsx
  frontend/src/components/Dashboard/Transactions/Transactions.jsx
  frontend/src/components/Guide/Guide.jsx
  frontend/src/components/Home/About/About.jsx
  frontend/src/components/Home/Landing/Landing.jsx
  frontend/src/components/Home/Showcase/Showcase.jsx
  frontend/src/components/Home/Showcase/ShowcaseCard.jsx
  frontend/src/components/Markets/StockView/GridView/GridView.jsx
  frontend/src/components/Markets/StockView/ListView/ListView.jsx
  frontend/src/components/Markets/StockView/StockView.jsx
  frontend/src/components/Navigation/Navigation.jsx
  frontend/src/components/PurchasedStockDetails/PurchasedStockDetails.jsx
  frontend/src/components/PurchasedStocks/PurchaseListView/PurchaseListView.jsx
  frontend/src/components/PurchasedStocks/PurchasedStocks.jsx
  frontend/src/components/StockCard/StockCard.jsx
  frontend/src/components/StockDetails/StockDetails.jsx
  frontend/src/components/ToggleTheme/ToggleTheme.jsx
  frontend/src/components/TransactionForm/TransactionForm.jsx
  frontend/src/reducers/auth.js
  frontend/src/reducers/error.js
  frontend/src/reducers/index.js
  frontend/src/reducers/logs.js
  frontend/src/reducers/purchased.js
  frontend/src/reducers/stocks.js
  frontend/src/reducers/transactions.js
  frontend/tsconfig.json
  frontend/vite.config.js
Labels: frontend
